{% extends 'messenger/base.html' %}

{% block content %}
    <div class="content">
        <h2>Drafts</h2>
        <hr>
        <div class="container messages">
            {% for message in filtered_message_objects %}
                <div class="row">
                    <div class="col-sm">
                        <h5>{{ message.receiver }}</h5>
                    </div>
                    <div class="col-sm date">
                        <p>{{ message.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text">
                        <p>{{ message.text }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text">
                        <form action="/message_edit.html" method="post" >
                            {% csrf_token %}
                            <button name="message_edit" type="submit" class="btn btn-outline-primary btn-sm" value="{{ message.id }}">Edit</button>
                        </form>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}
